.thumbnail1-picture {
  width: 100%;
  border-radius: 15px;
}
.thumbnail1 {
  position: relative;
  margin-bottom: 10px;
}
.thumbnail1-picture:hover {
  cursor: pointer;
  border-radius: 0px;
  transition: border-radius 0.6s;
}

.profile-picture {
  border-radius: 40px;
  width: 100%;
}
.profile-picture1 {
  width: 45px;
}
.video-title {
  color: rgb(17, 17, 17);
}
.Channel-name,
.video-status {
  color: rgb(96, 96, 96);
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 7px;
  cursor: pointer;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
}
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) and (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (max-width: 150px) {
  .video-grid {
    grid-template-columns: 1fr ;
  }
}

.video-time {
  font-family: roboto, arial;
  font-size: 15px;
  font-weight: 500;
  padding-left: 4px;
  border-radius: 2px;
  width: 35px;
  right: 10px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 12px;
}
